<!DOCTYPE html>
<html ng-app="giveawayApp">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="description" content="Claudia&amp;Sergiu Fundraising Giveaway : Fa o donatie pentru Help Autism si ia ce iti place de aici">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/controller.js"></script>

  <title>Claudia &amp; Sergiu Fundraising Giveaway</title>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="container inner">

      <h1 id="project_title">Claudia&amp;Sergiu Fundraising Giveaway</h1>
      <h2 id="project_tagline">Fa o donatie pentru <a href="http://www.helpautism.ro/">Help Autism</a> si ia ce iti place de aici</h2>
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="container inner">

      <h3>Salut!</h3>

      <p>Suntem <a href="http://1000balkan.com/en/challengers/view?hash=14bf27558738c22a7b19407417569c2a94f69031">Claudia si Sergiu</a> si participam la <a href="http://1000balkan.com/blog/1000km-balkan-charity-challenge-3rd-edition-1-11-november-2014-2/">1000Km Balkan Charity Challenge</a> pentru <a href="http://1000balkan.com/en/projects/view?id=65">Help Autism</a>!</p>
      <p>Poate ne stii sau poate nu, nu conteaza. Facem sport cu pasiune si in decursul timpului am adunat diverse obiecte, in general legate de activitati outdoor, pe care vrem sa le dam mai departe unor oameni care chiar au nevoie de ele.<br>
      Nu le vindem, nu vrem sa facem bani cu ele. Le dam, iar ceea ce cerem in schimb este o donatie pentru copiii cu autism pe care ii sustinem.<br>
      In felul asta un obiect folositor isi gaseste un nou propietar, care a facut o fapta buna! Double win!</p>
      <p>Chiar daca nu esti interesat, apreciem daca ai putea sa trimiti mai departe!</p>
      <div class="fb-like" data-href="http://sergiub.github.io/giveaway/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      <div class="g-plus" data-action="share"></div>

      <h3>Niste reguli simple</h3>

      <p>Te rugam sa arunci o privire pe pozele si descrierea obiectelor de mai jos. Daca iti place ceva, introdu suma in RON pe care esti dispus sa o donezi si lasa un contact (nume si adresa de email).</p>
      <p>Obiectele necesita o donatie minima, care pentru inceput este oricum mult sub valoarea reala.</p>
      <p>In caz ca sunt mai multi doritori pentru acelasi obiect, va castiga cel care vrea sa faca o donatie mai mare pana marti, adica <b>4 noiembrie 2014, ora 23:59</b>, ora Romaniei.</p>
      <p>Dupa aceasta ora ii vom contacta pe cei care au castigat mini-licitatia pentru donatii si acestia pe urma vor putea sa faca donatia hotarata, pe <a href="http://1000balkan.com/en/challengers/view?hash=14bf27558738c22a7b19407417569c2a94f69031">pagina noastra de profil</a>.</p>
      <p>Dupa data limita, obiectele pentru care nu avem un donator vor fi date primei persoane care face donatia minima.</p>

      <h3>The Stuff</h3>

      <div class="container" ng-controller="ItemsController">
        <h4 class="bg-danger" ng-show='deadlinePassed()'>Pentru obiectele la care s-au anuntat doritori licitatia s-a incheiat. Obiectele ramase revin primului doritor care anunta ca face donatia minima pentru ele.</h4>

        <div ng-repeat="(itemId, item) in items">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <img class="img-responsive col-md-4" src="http://placehold.it/700x300" alt="">
              </div>    
            </div>
            <div class="col-md-5">
              <h4>{{item.name}}</h4>
              <p>{{item.description}}</p>
              <div ng-controller="DonationController">
                <div class="text-info" ng-show="topDonation(itemId)">Donatorul de top e <b>{{topDonation(itemId).name}}</b> cu <b>{{topDonation(itemId).amount}} RON</b></div>
                <div class="donateBtns" ng-class="{hideAnimated: donationIntent}"  ng-show="isAvailable(itemId)">
                  <h5>Donatie minima: <span class="min-donation">{{nextDonationAmount(itemId) || item.minim}}</span> RON</h5>
                  <button type="button" class="btn btn-primary donate-btn" ng-click="donateClick(itemId, nextDonationAmount(itemId) || item.minim)">Donez {{nextDonationAmount(itemId) || item.minim}} RON</button>
                  <div style="padding-top: 5px; padding-left: 30px; display: inline-block">
                    <button type="button" class="btn btn-primary donate-btn" ng-click="donateClick(itemId, customSum)" ng-disabled="!customSum">Donez </button>
                    <input type="number" class="form-control custom-sum" placeholder="Suma Asta" ng-model="customSum" min="{{item.minim}}" tooltip="After today restriction">
                    <span>RON</span>
                  </div>
                </div>
                <form name="userForm" novalidate class="donateForm" ng-class="{showAnimated: donationIntent}" ng-show='donationIntent&&isAvailable(itemId)'>
                  <div ng-class="{'has-error': userForm.name.$invalid}">
                    <input name="name" type="text" class="form-control donateField" placeholder="Nume" ng-model="donationIntent.name" required>
                  </div>
                  <div ng-class="{'has-error': userForm.email.$invalid}">
                    <input name="email" type="email" class="form-control donateField" placeholder="Email" ng-model="donationIntent.email" required>
                  </div>
                  <div class="donateField intentText text-center">
                    <p>Intentionez sa iau acest obiect in schimbul unei donatii de <b>{{donationIntent.amount}} RON</b> pentru HelpAutism</p>
                  </div>
                  <div class="donateField text-center">
                    <button type="button" class="btn btn-success donate-btn" ng-disabled="userForm.name.$invalid || userForm.email.$invalid" ng-click="commitDonation(itemId)">Da, asa fac!</button>
                    <button type="button" class="btn btn-danger donate-btn" ng-click="donateAbort()">Ma mai gandesc!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr>
        </div>
    </div>
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="container inner">
      <p class="copyright">Claudia &amp; Sergiu Fundraising Giveaway maintained by <a href="https://github.com/SergiuB">SergiuB</a></p>
      <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
  </div>



</body>
</html>
